In [5]:
import pandas as pd
from scipy.stats import chi2_contingency

In [3]:
df = pd.read_csv('../cleaned_data/asthma_clean_file.csv')
df.head(10)

,Year,Geography,Age,Category,Demographic,Count,Rate
0,2015,Alameda,18 and Over,Total Population,18 and Over,6513,53.1
1,2015,Amador,18 and Over,Total Population,18 and Over,151,49.1
2,2015,Butte,18 and Over,Total Population,18 and Over,736,43.8
3,2015,Calaveras,18 and Over,Total Population,18 and Over,139,42.7
4,2015,California,18 and Over,Total Population,18 and Over,117854,40.0
5,2015,Colusa,18 and Over,Total Population,18 and Over,49,29.0
6,2015,Contra Costa,18 and Over,Total Population,18 and Over,4528,54.8
7,2015,Del Norte,18 and Over,Total Population,18 and Over,91,41.9
8,2015,El Dorado,18 and Over,Total Population,18 and Over,422,32.8
9,2015,Fresno,18 and Over,Total Population,18 and Over,3454,49.5

In [4]:
df_without_cal_total = df[df['Geography']!= 'California']
df_without_cal_total.head(10)

,Year,Geography,Age,Category,Demographic,Count,Rate
0,2015,Alameda,18 and Over,Total Population,18 and Over,6513,53.1
1,2015,Amador,18 and Over,Total Population,18 and Over,151,49.1
2,2015,Butte,18 and Over,Total Population,18 and Over,736,43.8
3,2015,Calaveras,18 and Over,Total Population,18 and Over,139,42.7
5,2015,Colusa,18 and Over,Total Population,18 and Over,49,29.0
6,2015,Contra Costa,18 and Over,Total Population,18 and Over,4528,54.8
7,2015,Del Norte,18 and Over,Total Population,18 and Over,91,41.9
8,2015,El Dorado,18 and Over,Total Population,18 and Over,422,32.8
9,2015,Fresno,18 and Over,Total Population,18 and Over,3454,49.5
10,2015,Glenn,18 and Over,Total Population,18 and Over,83,39.4

In [6]:
contingency_table = pd.crosstab(index=df['Geography'], columns=df['Rate'])
p = chi2_contingency(contingency_table)[1]
print(p)

0.007734670206471863

As p < 0.05, it seems that geography and the rate of asthma are dependent.

In [13]:
highest_asthma_rates = df_without_cal_total.nlargest(20, 'Rate', keep='first')
highest_asthma_rates

,Year,Geography,Age,Category,Demographic,Count,Rate
7412,2018,Mono,18 and Over,Race-Ethnicity,Asian/Pacific Islander,21,4564.1
7776,2018,Mono,All Ages,Race-Ethnicity,Asian/Pacific Islander,22,3531.0
6018,2016,Madera,Under 18,Race-Ethnicity,African-American,56,961.1
4970,2011,Lake,Under 18,Race-Ethnicity,African-American,15,932.6
8156,2018,Lake,Under 18,Race-Ethnicity,African-American,12,801.2
5298,2016,Plumas,18 and Over,Race-Ethnicity,African-American,13,755.7
9235,2019,Lake,Under 18,Race-Ethnicity,African-American,14,731.7
7073,2017,San Francisco,Under 18,Race-Ethnicity,American Indian/Alaskan Native,16,622.4
816,2015,Alameda,Under 18,Race-Ethnicity,American Indian/Alaskan Native,49,615.3
1883,2014,Alameda,Under 18,Race-Ethnicity,American Indian/Alaskan Native,49,613.7
4266,2011,Mendocino,18 and Over,Race-Ethnicity,African-American,27,610.1
8158,2018,Madera,Under 18,Race-Ethnicity,African-American,34,602.2
8495,2019,Mendocino,18 and Over,Race-Ethnicity,African-American,31,596.3
6013,2016,Humboldt,Under 18,Race-Ethnicity,African-American,16,595.6
5708,2016,Plumas,All Ages,Race-Ethnicity,African-American,13,560.9
796,2015,Merced,Under 18,Race-Ethnicity,African-American,98,551.4
3942,2012,Madera,Under 18,Race-Ethnicity,African-American,36,541.3
794,2015,Madera,Under 18,Race-Ethnicity,African-American,34,539.9
3935,2012,El Dorado,Under 18,Race-Ethnicity,African-American,13,530.6
7448,2018,Mendocino,18 and Over,Race-Ethnicity,African-American,26,529.5

In [12]:
lowest_asthma_rates = df_without_cal_total.nsmallest(20, 'Rate', keep='first')
lowest_asthma_rates

,Year,Geography,Age,Category,Demographic,Count,Rate
8580,2019,San Diego,18 and Over,Race-Ethnicity,Multiracial,39,5.2
8963,2019,Orange,All Ages,Race-Ethnicity,Multiracial,35,5.2
8575,2019,Orange,18 and Over,Race-Ethnicity,Multiracial,24,5.9
8479,2019,Ventura,18 and Over,Race-Ethnicity,Asian/Pacific Islander,33,6.0
3293,2012,Ventura,18 and Over,Race-Ethnicity,Asian/Pacific Islander,34,7.4
1200,2014,Ventura,18 and Over,Race-Ethnicity,Asian/Pacific Islander,39,7.5
3290,2012,Sonoma,18 and Over,Race-Ethnicity,Asian/Pacific Islander,12,7.6
2254,2013,Yolo,18 and Over,Race-Ethnicity,Asian/Pacific Islander,15,8.0
8859,2019,Ventura,All Ages,Race-Ethnicity,Asian/Pacific Islander,48,8.3
1185,2014,Riverside,18 and Over,Race-Ethnicity,Asian/Pacific Islander,98,8.4
8971,2019,San Mateo,All Ages,Race-Ethnicity,Multiracial,29,8.4
2238,2013,Riverside,18 and Over,Race-Ethnicity,Asian/Pacific Islander,93,8.7
4307,2011,Orange,18 and Over,Race-Ethnicity,Asian/Pacific Islander,360,8.7
5341,2016,Orange,18 and Over,Race-Ethnicity,Asian/Pacific Islander,406,8.7
8583,2019,Santa Clara,18 and Over,Race-Ethnicity,Multiracial,29,8.7
2253,2013,Ventura,18 and Over,Race-Ethnicity,Asian/Pacific Islander,41,8.9
1383,2014,Lassen,18 and Over,Sex,Male,17,9.1
6378,2017,Ventura,18 and Over,Race-Ethnicity,Asian/Pacific Islander,45,9.1
8972,2019,Santa Clara,All Ages,Race-Ethnicity,Multiracial,57,9.1
121,2015,Riverside,18 and Over,Race-Ethnicity,Asian/Pacific Islander,107,9.2