In [5]:
import pandas as pd
from scipy.stats import chi2_contingency

In [3]:
df = pd.read_csv('../cleaned_data/asthma_clean_file.csv')
df.head(10)

,Year,Geography,Age,Category,Demographic,Count,Rate
0,2015,Alameda,18 and Over,Total Population,18 and Over,6513,53.1
1,2015,Amador,18 and Over,Total Population,18 and Over,151,49.1
2,2015,Butte,18 and Over,Total Population,18 and Over,736,43.8
3,2015,Calaveras,18 and Over,Total Population,18 and Over,139,42.7
4,2015,California,18 and Over,Total Population,18 and Over,117854,40.0
5,2015,Colusa,18 and Over,Total Population,18 and Over,49,29.0
6,2015,Contra Costa,18 and Over,Total Population,18 and Over,4528,54.8
7,2015,Del Norte,18 and Over,Total Population,18 and Over,91,41.9
8,2015,El Dorado,18 and Over,Total Population,18 and Over,422,32.8
9,2015,Fresno,18 and Over,Total Population,18 and Over,3454,49.5

In [4]:
df_without_cal_total = df[df['Geography']!= 'California']
df_without_cal_total.head(10)

,Year,Geography,Age,Category,Demographic,Count,Rate
0,2015,Alameda,18 and Over,Total Population,18 and Over,6513,53.1
1,2015,Amador,18 and Over,Total Population,18 and Over,151,49.1
2,2015,Butte,18 and Over,Total Population,18 and Over,736,43.8
3,2015,Calaveras,18 and Over,Total Population,18 and Over,139,42.7
5,2015,Colusa,18 and Over,Total Population,18 and Over,49,29.0
6,2015,Contra Costa,18 and Over,Total Population,18 and Over,4528,54.8
7,2015,Del Norte,18 and Over,Total Population,18 and Over,91,41.9
8,2015,El Dorado,18 and Over,Total Population,18 and Over,422,32.8
9,2015,Fresno,18 and Over,Total Population,18 and Over,3454,49.5
10,2015,Glenn,18 and Over,Total Population,18 and Over,83,39.4

In [6]:
contingency_table = pd.crosstab(index=df['Geography'], columns=df['Rate'])
p = chi2_contingency(contingency_table)[1]
print(p)

0.007734670206471863

As p < 0.05, it seems that geography and the rate of asthma are dependent.